pandas
transformers
torch
accelerate
python-dotenv
psutil
nvidia-ml-py
sounddevice
scipy
numpy
webrtcvad
librosa
matplotlib
ffmpeg-python
cerebras-cloud-sdk
faster-whisper
jiwer
evaluate
whisper-normalizer
datasets<4